<!-- views/home.ejs -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Node.js Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .jumbotron {
            margin-top: 10px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="">
            <h2>Kaplan–Meier estimator</h2>
            <p class="lead">Insert data tab separated data below</p>
            <p>Expected to have:
                <code>T</code> column for Time,
                <code>E</code> column for event,
                <code>group</code> column for groups</p>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="list-group">
                    <textarea rows="25" id='data' style="font-family: monospace; width:50%;">T	E	group
6.0	1	miR-137
13.0	1	miR-137
13.0	1	miR-137
13.0	1	miR-137
19.0	1	miR-137
19.0	1	miR-137
19.0	1	miR-137
26.0	1	miR-137
26.0	1	miR-137
26.0	1	miR-137
126.0	1	miR-137
126.0	1	miR-137
133.0	1	miR-137
133.0	1	miR-137
147.0	1	miR-137
162.0	1	miR-137
162.0	1	miR-137
19.0	1	miR-137
19.0	1	miR-137
19.0	1	miR-137
215.0	1	miR-137
215.0	1	miR-137
222.0	1	miR-137
222.0	1	miR-137
222.0	1	miR-137
222.0	1	miR-137
229.0	1	miR-137
229.0	1	miR-137
229.0	1	miR-137
229.0	1	miR-137
329.0	1	miR-137
336.0	1	miR-137
336.0	1	miR-137
343.0	1	miR-137
333.0	1	control
354.0	1	control
354.0	1	control
361.0	1	control
361.0	1	control
361.0	0	control
461.0	1	control
461.0	0	control
461.0	1	control
461.0	1	control
461.0	1	control
461.0	1	control
461.0	1	control
461.0	1	control
469.0	1	control
469.0	1	control
569.0	1	control
569.0	1	control
569.0	1	control</textarea>
                    <span style="width:50%;float: right; padding-left: 10px;" id='image-subproc'></span>
                </div>
            </div>
        </div>
        <div class="row">
            <span style="max-width:50%">
                Alpha:
                <input type="radio" id="ninefive" name="alpha" checked value=".95" />
                <label for="ninefive">0.95</label>
                <input type="radio" id="ninenine" name="alpha" value=".99" />
                <label for="ninenine">0.99</label>
            </span>
            <span style="max-width:50%">
                <input type="submit" value="Submit sub process" id='sub_proc' />
            </span>
        </div>
    </div>

    <script>
        $(window).ready(function () {
            console.log('ready')
            $('#sub_proc').click(function (e) {
                console.log('sub_proc')
                $('#image-subproc').html('<img src="/static/Loading_icon.gif"/>')
                data = $('#data').val()
                alpha = $('input[name=alpha]:checked').val();
                $.post('/subproc', { data: data, alpha: alpha }, function (data) {
                    $('#image-subproc').html(data)
                })
            })

            $('#sub_srvc').click(function (e) {
                console.log('sub_srvc')
                data = $('#data').val()
            })

            /* hande the tabs*/
            $("textarea").keydown(function (e) {
                if (e.keyCode === 9) { // tab was pressed
                    // get caret position/selection
                    var start = this.selectionStart;
                    var end = this.selectionEnd;

                    var $this = $(this);
                    var value = $this.val();

                    // set textarea value to: text before caret + tab + text after caret
                    $this.val(value.substring(0, start)
                        + "\t"
                        + value.substring(end));

                    // put caret at right position again (add one for the tab)
                    this.selectionStart = this.selectionEnd = start + 1;

                    // prevent the focus lose
                    e.preventDefault();
                }
            });
        })
    </script>
</body>

</html>